name: ARM64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-11-arm

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Cache C++ packages
        id: cache-cpp
        uses: actions/cache@v4
        with:
          path: |
            build/packages
          key: cache-cpp-all
          restore-keys: |
            cache-cpp-all
      
      - if: ${{ steps.cache-cpp.outputs.cache-hit != 'true' }}
        name: Report cache state
        continue-on-error: true
        run: echo "Cache miss"

      - name: CMake configure
        run: cmake -S . -B build -G "Visual Studio 17 2022" -A ARM64,version=10.0.26100.0 -DCPM_SOURCE_CACHE=build/packages

      - name: CMake build
        run: cmake --build build --target LuaSTG --config Release

      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: bin
          path: |
            build/bin
          retention-days: 7
